.header__logo {
  max-width: 142px;
  margin:0;
  align-self: flex-start;
}

@media screen and (max-width: 910px) {
  .header__logo {
    margin: 0 0 0 27px;   
  }
}

@media screen and (max-width: 570px) {
  .header__logo {
    max-width: 103.74px;    
  }
}
